.hero {
  background-image: url('teller_re.jpg');
  background-repeat: no-repeat;
  background-position: top;
  height: 380px;
}
main {
  text-align: center;
}
h1 {
  color: #f9d036;
  font-family: 'Vidaloka', serif;
  margin: 0.5rem 0 0;
}

p {
  color:#8f3eb6;
  font-family: 'Montserrat Alternates', sans-serif;
  margin:0.3rem 0 2rem;
}

.circles {
  width:180px;
  height:180px;
  border: solid 10px #ececf8;
  border-radius: 50%;
  margin:auto 6px;
  display: inline-block;
  background-color:#ececf8;
  transition: background-color 1000ms;

}

h2 {
  position: relative;
  margin: 4.5rem 0rem;
}
.green {
  color: #63b101;
}
.blue {
  color: #034f8b;
}
.yellow {
  color: #f9d036;
}
.red {
  color:#e3462e;
}

.pulse {
  background-color: #b9ace6;
  transition: background-color 1000ms;
}
.hide {
  display:none;
}
.block-2 {
  width:180px;
  height:180px;
  border: solid 10px #ececf8;
  border-radius: 50%;
  margin:auto 6px;
  display: inline-block;
  background-color:#ececf8;
  transition: background-color 1000ms;
}

.block-3 {
  width:180px;
  height:180px;
  border: solid 10px #ececf8;
  border-radius: 50%;
  margin:auto 6px;
  display: inline-block;
  background-color:#ececf8;
  transition: background-color 1000ms;
}
